---
import { ClientRouter } from 'astro:transitions';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import '@styles/globals.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = import.meta.env.PUBLIC_SITE_URL;

const { title, description, image = '/images/astronaut.png' } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />
<link rel="alternate" hreflang="en" href={canonicalURL} />
<link rel="alternate" hreflang="no" href={`${canonicalURL}/no`} />
<link rel="alternate" hreflang="x-default" href={canonicalURL} />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<title>{t(title)}</title>
<meta name="title" content={t(title)} />
<meta name="description" content={t(description)} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={t(title)} />
<meta property="og:description" content={t(description)} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:locale:alternate" content="no_NO" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={t(title)} />
<meta property="twitter:description" content={t(description)} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<ClientRouter />
