---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/i18n/utils";
import {
  ADDRESS_COMPANY,
  PHONE_COMPANY,
  navLinksFooter,
  socialContactLinks,
} from "@/utils/constants";
import FooterNav from "@/components/common/FooterNav";
import MapIcon from "@public/icons/bx-map.svg";
import MobileIcon from "@public/icons/phone-android.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer
  class='mx-auto py-[107px] px-6 sm:py-3 sm:px-4 md:py-5 md:px-[30px] bg-transparent max-w-[1078px]'
>
  <div class='flex items-center justify-between flex-wrap gap-[75px]'>
    <ul class='flex sm:hidden items-center md:gap-6 gap-[75px]'>
      {navLinksFooter.map((item) => (
          <li class='flex flex-col pr-6'>
            <p class='text-xl font-medium mb-10'>{t(item.title)}</p>
            {item.links.map((link) => (
              <a href={translatePath(link.href)} class='mb-[18px] last:mb-0 line-hover'>
                {t(link.title)}
              </a>
            ))}
          </li>
        ))}
    </ul>
    <FooterNav client:only='react' lang={lang} />
    <div class='flex flex-col items-start gap-[10px] tracking-[.015em]'>
      <div class='flex items-center gap-2'>
        <img src={MapIcon.src} alt='figma land' width='44' height='44' />
        <p>{ADDRESS_COMPANY}</p>
      </div>
      <div class='flex items-center gap-2'>
        <img src={MobileIcon.src} alt='figma land' width='44' height='44' />
        <a href={`tel:${PHONE_COMPANY}`} class="line-hover">{PHONE_COMPANY}</a>
      </div>
      <div class='flex items-start gap-6 py-5'>
        {socialContactLinks.map((social) => (
            <a href={social.href} target='_blank'>
              <img src={social.src} alt={social.alt} width='40' height='40' />
            </a>
          ))}
      </div>
    </div>
  </div>
</footer>
