---
import LanguageSelect from "@/components/common/LanguageSelect";
import MenuDrawer from "@/components/common/MenuDrawer";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/i18n/utils";
import { navLinks } from "@/utils/constants";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  class='z-50 sticky top-0 left-0 right-0 w-full paddings-x bg-background'
>
  <div
    class='flex items-center max-w-[1098px] w-full my-0 mx-auto py-4 md:py-[14px]'
  >
    <a href={translatePath("/")}>
      <img
        src='/icons/logo-dark.svg'
        alt='figma land'
        width='206'
        height='76'
      />
    </a>
    <ul class='items-center gap-8 ml-11 lg:hidden flex'>
      {navLinks.map((item) => (
          <li class='p-[10px]'>
            <a href={translatePath(item.href)} class='pb-1 line-hover'>
              {t(item.title)}
            </a>
          </li>
        ))}
    </ul>
    <div class='flex items-center gap-5 ml-auto'>
      <div class='lg:hidden'>
        <LanguageSelect client:load lng={lang} route={Astro.url.pathname} />
      </div>
      <a
        href={translatePath("/login/")}
        class='sm:hidden py-[13px] px-12 border border-white blue-hover'
      >
        {t("nav.login")}
      </a>
    </div>
    <MenuDrawer client:only='react' lang={lang} route={Astro.url.pathname} />
  </div>
</header>
